    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #container {
      width: 100%;
      height: 100%;
      background-color: lightblue; /* Just for visual reference */
    }



#map {
 border-style: solid;
  border-color: red;
      width: 100% !important;
      height: 100% !important;
    }
